// Colors
$green: #18b681;
$grey: #f6f6f6;
$card-title: #383838;
$card-content: #949494;
$info-section-content: #828282;

// Background Classes
.bg-violet {
  background: $green;
}
.bg-black {
  background: black;
}
.bg-grey {
  background: $grey;
}

// Text Classes
.text-violet {
  color: $green;
}
.text-black {
  color: black;
}
.text-grey {
  color: $grey;
}
