.footer-text {
  max-width: 870px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
  text-align: center;
  margin: 1em 0 4em;
  padding: 2em;
}

.circular-icon {
  width: 42px;
  height: 42px;
  border: 0.3px solid $violet;
  border-radius: 100%;
}
