.hero-section {
  height: 100vh;
}

.hero-illustration {
  display: flex;
  align-items: center;
  // border: 1px solid pink;
  padding: 1em;
}

@media only screen and (max-width: 1000px) {
  .hero-illustration {
    padding: 2em;
    // border: 1px solid green;
  }
}

.hero-title {
  font-size: 1.8em;
  line-height: 1.7;
  font-weight: 600;
}

.hero-subtitle {
  color: grey;
  font-weight: 400;
}
