.hero-section {
  height: calc(100vh - 72px);
}

.hero-illustration {
  display: flex;
  align-items: center;
  // border: 1px solid pink;
  padding: 1em;
}

@media only screen and (max-width: 1000px) {
  .hero-illustration {
    padding: 2em;
    // border: 1px solid green;
  }
}

.hero-title {
  font-size: 1.8em;
  line-height: 1.7;
  font-weight: 600;
}

.hero-subtitle {
  color: grey;
  font-weight: 400;
  line-height: 1.7;
}

@media only screen and (max-width: 600px) {
  .hero-section-text-container {
    text-align: center;
  }

  .text-right,
  .text-left {
    text-align: center !important;
  }
}
