@import "./colors";
@import "./button";
@import "./section-header";
@import "./card";
@import "./footer.scss";
@import "./hero-section.scss";
@import "./info-section.scss";
@import "./fonts.scss";

// Navbar
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container:hover {
  cursor: pointer;
}

// .nav-container img {
//   // filter: grayscale();
//   width: 200px;
//   height: 200px;
//   border-radius: 50%;
//   border: 6px solid whitesmoke;
//   box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
//   margin-bottom: 1rem;
//   transition: filter 0.4s ease-in-out;
// }

.nav-container:hover img {
  filter: none;
}

.nav-title {
  // font-family: "Dancing Script", cursive;
  // font-size: 3rem;
  color: $green;
  position: relative;
}

.nav-title::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: $green;
  left: 50%;
  bottom: -10px;
  transition: all 0.4s ease-in-out;
}

.nav-container:hover .nav-title::after {
  width: 100%;
  left: 0;
}

// Extra Classes
a:hover {
  text-decoration: none;
}

.mockup-image {
  background: url("../assets/bg-illustration.svg");
  background-size: 100%;
  padding: 6em 10em;
}

@media only screen and (max-width: 600px) {
  .mockup-image {
    background: url("../assets/bg-illustration.svg");
    background-size: 100%;
    padding: 0;
  }
}

$width: 720px;

@media only screen and (max-width: $width) {
  .mobile-div {
    display: block;
  }
  .desktop-div {
    display: none;
  }
}

@media only screen and (min-width: $width) {
  .mobile-div {
    display: none;
  }
  .desktop-div {
    display: block;
  }
}

// Mobile View Navbar
@media only screen and (max-width: 960px) {
  .mobile-extra-top-margin {
    margin-top: 1.5em;
    // background: pink;
  }
}
