@import "./colors";
@import "./button";
@import "./section-header";
@import "./card";
@import "./footer.scss";
@import "./hero-section.scss";
@import "./info-section.scss";
@import "./fonts.scss";

// Extra Classes
.mockup-image {
  background: url("../assets/bg-illustration.png");
  background-size: 100%;
  padding: 6em 10em;
}

@media only screen and (max-width: 600px) {
  .mockup-image {
    background: url("../assets/bg-illustration.png");
    background-size: 100%;
    padding: 0;
  }
}

$width: 720px;

@media only screen and (max-width: $width) {
  .mobile-div {
    display: block;
  }
  .desktop-div {
    display: none;
  }
}

@media only screen and (min-width: $width) {
  .mobile-div {
    display: none;
  }
  .desktop-div {
    display: block;
  }
}

// Mobile View Navbar
@media only screen and (max-width: 960px) {
  .mobile-extra-top-margin {
    margin-top: 1.5em;
    // background: pink;
  }
}
