.info-section-title {
  color: $green;
  font-size: 1.65em;
  font-weight: 300;
  font-family: "oxygen-regular";
}

.info-section-content {
  color: $info-section-content;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7;
  font-family: "roboto-regular";
}
